<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="NLog.MongoDB"/>
    </extensions>
    <targets>
      <target name="a1" AppName="AppName1" type="MongoTarget" ConnectionString="mongodb://localhost"/>
      <target name="a2" AppName="AppName2" type="CappedMongoTarget" ConnectionString="mongodb://localhost"/>
      <target name="a3" AppName="AppName3" type="ExpireAfterMongoTarget" ConnectionString="mongodb://localhost"/>
      <target name="a4" AppName="AppName4" type="ExpireAtMongoTarget" ConnectionString="mongodb://localhost"/>
      <target name="a5" AppName="AppName5" type="SubscribeMongoTarget" ConnectionString="mongodb://localhost"/>
    </targets>
    <rules>
      <logger name="*" minLevel="Trace" appendTo="a1"/>
      <logger name="*" minLevel="Trace" appendTo="a2"/>
      <logger name="*" minLevel="Trace" appendTo="a3"/>
      <logger name="*" minLevel="Trace" appendTo="a4"/>
      <logger name="*" minLevel="Error" appendTo="a5"/>
    </rules>
  </nlog>
</configuration>