<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="NLog.MongoDB"/>
    </extensions>
    <targets>
      <target name="a1" AppName="PretentionCreator" type="MongoDB" ConnectionString="mongodb://sam-cld-court"/>
      <target name="a3" RecordExistsDays="60" AppName="wpftestmongottllog" type="MongoDBExpireAt" ConnectionString="mongodb://sam-cld-court"/>      
      <target name="a3" Days="60" AppName="wpftestmongottllog" type="MongoDBExpireAfter" ConnectionString="mongodb://sam-cld-court"/>
    </targets>
    <rules>
      <logger name="*" minLevel="Trace" appendTo="a1"/>
         <logger name="*" minLevel="Trace" appendTo="a2"/>
           <logger name="*" minLevel="Trace" appendTo="a3"/>
    </rules>
  </nlog>
</configuration>
